.CityHeader {
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  padding-bottom: 2rem;
}

.CityHeader h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

/* div is mapbox's input */
.CityHeader div {
  margin: 0 auto;
}
