.CurrentForecastSummary {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: inline;
  font-size: 1.5rem;
  vertical-align: middle;
  padding-right: 30px; /* to account for padding inside the icon image */
}
