.DailyForecastLow {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
  display: inline;
}

@media (max-width: 850px) {
  .DailyForecastLow {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .DailyForecastLow {
    font-size: 1rem;
  }
}
